body{
  background-color: black;
  color:#ffff;
}

.container {
  text-align: center;
  margin-top: 2rem;
  padding: 0 3%;
}

.head{
  font-size: 45px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 12px;
  border-radius: 5px;
  margin: 3px 0;
  background-color: #2a2a2c;
}